# German Vocabulary Tester

This is a short program to save and update a list of German vocabulary that I recently learnt. The plan is to then use this dataset to test my knowledge in a testing program, which will hopefully help me to learn the vocabulary better.

## Runing the whole script

In [1]:
# Run the whole script here
# The script is written in details below
%run GermanVocab.py

Type (verb, noun, adj) or (quit): noun
Artikel (der, die, das): die
Word: Prüfung
Synonym:
Antonym:
Translation 1: test
Translation 2:
Translation 3:
Beispiel Satz:
Type (verb, noun, adj) or (quit):

,Type,Artikel,Word,Synomym,Antonym,Präteritum,Perfekt,Translation1,Translation2,Translation3,BeispielSatz
0,noun,die,Prüfung,,,,,test,,,

In [4]:
# To see the whole updated list
#display(germanVocab)

# Script in detail

In [5]:
# First let us import the required packages
import numpy as np
import pandas as pd

In [6]:
# Let's read-in the vocab dataset
germanVocab = pd.read_csv('germanVocab.csv')
germanVocab.head(4)

,Type,Artikel,Word,Synomym,Antonym,Präteritum,Perfekt,Translation1,Translation2,Translation3,BeispielSatz
0,noun,die,Bildung,NaN,NaN,NaN,NaN,training,NaN,NaN,NaN
1,noun,der,Großhandel,NaN,NaN,NaN,NaN,B2B,NaN,NaN,NaN
2,noun,der,Maschinenbau,NaN,NaN,NaN,NaN,Machine building,NaN,NaN,NaN
3,noun,die,Metallindustrie,NaN,NaN,NaN,NaN,Metal industry,NaN,NaN,NaN

In [7]:
# Initialise empty dataframe. There's probably a beter way, I should check.
data = pd.DataFrame([])
while True: # start the data input loop
    newType = input("Type (verb, noun, adj) or (quit): ") # first ask for the word type
    
    # Condition to exit the loop
    if newType == "quit": 
        break
        
    # If 'noun' ask for artikel, else set to blank   
    if newType == "noun": 
        newArtikel = input("Artikel (der, die, das): ")
    else:
        newArtikel = ""
        
    # ask for the word/infinitiv
    newWord = input("Word: ")
    
    # ask for synonyms and antonyms
    newSyn = input("Synonym: ")
    newAnto = input("Antonym: ")
    
    # If 'verb' ask for Präteritum and Perfekt
    if newType == "verb":
        praeteritum = input("Präteritum: ")
        perfekt = input("Perfekt (ink. ist, hat): ")
    else:
        praeteritum = ""
        perfekt = ""
    
    # Ask for translations into english
    newTrans1 = input("Translation 1: ")
    newTrans2 = input("Translation 2: ")
    newTrans3 = input("Translation 3: ")
    
    # Ask for example Satz
    newSatz = input("Beispiel Satz: ")
    
    # Build a new dataframe from this input information
    newdata = pd.DataFrame([newType, newArtikel, newWord, newSyn, newAnto, praeteritum, perfekt,
                            newTrans1, newTrans2, newTrans3, newSatz])
    # Add it into the empty data frame ignoring the index. I thnk there's a better way, I need to check.
    data = pd.concat([data, newdata.T], ignore_index=True)

Type (verb, noun, adj) or (quit): noun
Artikel (der, die, das): die
Word: Prüfung
Synonym:
Antonym:
Translation 1: test
Translation 2:
Translation 3:
Beispiel Satz:
Type (verb, noun, adj) or (quit): quit

In [8]:
# Create an index object for the column names
indA = pd.Index(['Type', 'Artikel', 'Word', 'Synomym', 'Antonym', 'Präteritum', 'Perfekt', 
                 'Translation1', 'Translation2', 'Translation3', 'BeispielSatz']) # create index
data.columns = indA
data

,Type,Artikel,Word,Synomym,Antonym,Präteritum,Perfekt,Translation1,Translation2,Translation3,BeispielSatz
0,noun,die,Prüfung,,,,,test,,,

In [9]:
germanVocab.head(2)

,Type,Artikel,Word,Synomym,Antonym,Präteritum,Perfekt,Translation1,Translation2,Translation3,BeispielSatz
0,noun,die,Bildung,NaN,NaN,NaN,NaN,training,NaN,NaN,NaN
1,noun,der,Großhandel,NaN,NaN,NaN,NaN,B2B,NaN,NaN,NaN

In [162]:
#data.columns = germanVocab.columns
#data.columns

In [11]:
# Here we append the new entries to the old ones
germanVocab = pd.concat([germanVocab, data], ignore_index=True)
germanVocab[indA].head(3) # re-orders the columns

,Type,Artikel,Word,Synomym,Antonym,Präteritum,Perfekt,Translation1,Translation2,Translation3,BeispielSatz
0,noun,die,Bildung,NaN,NaN,NaN,NaN,training,NaN,NaN,NaN
1,noun,der,Großhandel,NaN,NaN,NaN,NaN,B2B,NaN,NaN,NaN
2,noun,der,Maschinenbau,NaN,NaN,NaN,NaN,Machine building,NaN,NaN,NaN

In [18]:
# Use this piece of code to clear rows and reorder the main file
# Be careful when using!
#germanVocab = germanVocab.drop(germanVocab.index[[np.arange(0,1)]])
#germanVocab.columns = data.columns
#germanVocab

Empty DataFrame
Columns: [Type, Artikel, Word, Synomym, Antonym, Präteritum, Perfekt, Translation1, Translation2, Translation3, BeispielSatz]
Index: []

In [19]:
# Finally we export the updated dataset to cvs file
germanVocab.to_csv('germanVocab.csv', index=False)